#####################################################################
# Includes & External Configs
#####################################################################
[include mainsail.cfg]
[include macros.cfg]
[include slot.cfg]
[include common.cfg]
[include TEST_Speed.cfg]
[include EBBcan.cfg]
[include shell_command.cfg]
[include toolchanger/readonly-configs/toolchanger-include.cfg]

[save_variables]
filename: ~/printer_data/config/variables.cfg

#####################################################################
# MCU & Printer Base Settings
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_45001A000F50415833323520-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 7000
square_corner_velocity: 5.0
max_z_velocity: 75
max_z_accel: 200

#####################################################################
# Stepper Configuration
#####################################################################
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: -33
position_min: -33
position_max: 388
homing_speed: 40

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 1.1
stealthchop_threshold: 999999
sense_resistor: 0.110
diag_pin: PC0
driver_SGTHRS: 100

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 341
position_min: -43
position_max: 341
homing_speed: 30

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 1.1
stealthchop_threshold: 999999
sense_resistor: 0.110
diag_pin: PC1
driver_SGTHRS: 80

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
endstop_pin: ^!PC2
position_endstop: -0.225
position_min: -2.0
position_max: 415

#####################################################################
# Tool & Heater Configuration
#####################################################################
[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 26.833
pid_Ki: 1.844
pid_Kd: 97.604
min_temp: 0
max_temp: 280

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

#####################################################################
# Probe & Fans
#####################################################################
[probe]
pin: ^EBBCan:PB8
z_offset: 2.405
speed: 5

[fan_generic partfan_t0]
pin: PC6

#####################################################################
# Nozzle Locating & Statistical Calibration
#####################################################################

[gcode_macro _CENTERING_VARS]
variable_pin_top: 0.0
variable_center_x: 0.0
variable_center_y: 0.0
gcode:
    # Storage container for LOCATE_NOZZLE results

# [gcode_macro LOCATE_NOZZLE]
# description: Perform 5-point statistical calibration with X/Y trigger capture
# gcode:
#     {% set SAMPLES = 5 %}
#     {% set EST_X = -28.5 %}
#     {% set EST_Y = 300.0 %}
#     {% set SEARCH_DEPTH = 1.0 %} 
#     {% set TRAVEL_SPEED = 6000 %}
#     {% set OFFSET = 4.0 %} 

#     G90
#     G1 Z20 F1500 
#     G1 X{EST_X} Y{EST_Y} F{TRAVEL_SPEED}

#     # --- Z-REF SAMPLES ---
#     RESPOND MSG="Gathering Z Samples..."
#     {% set z_results = [] %}
#     {% for i in range(SAMPLES) %}
#         G1 Z15 F1500
#         PROBE
#         M400
#         {% set _ = z_results.append(printer.probe.last_z_result|float) %}
#         G1 Z18 F1500
#     {% endfor %}
#     {% set z_mean = z_results|sum / SAMPLES %}
#     {% set sz = z_mean - SEARCH_DEPTH %}

#     # --- X-AXIS SAMPLES ---
#     RESPOND MSG="Gathering X Samples..."
#     {% set x_mids = [] %}
#     {% for i in range(SAMPLES) %}
#         # Right nudge
#         G1 Z15 F1500
#         G1 X{EST_X + OFFSET} Y{EST_Y} F{TRAVEL_SPEED}
#         G1 Z{sz} F1500
#         PROBE SPEED=5
#         M400
#         G4 P200
#         {% set x_r = printer.toolhead.position.x|float %}
#         # Left nudge
#         G1 Z15 F1500
#         G1 X{EST_X - OFFSET} Y{EST_Y} F{TRAVEL_SPEED}
#         G1 Z{sz} F1500
#         PROBE SPEED=5
#         M400
#         G4 P200
#         {% set x_l = printer.toolhead.position.x|float %}
#         {% set _ = x_mids.append((x_r + x_l) / 2) %}
#     {% endfor %}
#     {% set x_mean = x_mids|sum / SAMPLES %}

#     # --- Y-AXIS SAMPLES ---
#     RESPOND MSG="Gathering Y Samples..."
#     {% set y_mids = [] %}
#     {% for i in range(SAMPLES) %}
#         # Back nudge
#         G1 Z15 F1500
#         G1 X{x_mean} Y{EST_Y + OFFSET} F{TRAVEL_SPEED}
#         G1 Z{sz} F1500
#         PROBE SPEED=5
#         M400
#         G4 P200
#         {% set y_b = printer.toolhead.position.y|float %}
#         # Front nudge
#         G1 Z15 F1500
#         G1 X{x_mean} Y{EST_Y - OFFSET} F{TRAVEL_SPEED}
#         G1 Z{sz} F1500
#         PROBE SPEED=5
#         M400
#         G4 P200
#         {% set y_f = printer.toolhead.position.y|float %}
#         {% set _ = y_mids.append((y_b + y_f) / 2) %}
#     {% endfor %}
#     {% set y_mean = y_mids|sum / SAMPLES %}

#     # --- STORE & OUTPUT ---
#     SET_GCODE_VARIABLE MACRO=_CENTERING_VARS VARIABLE=pin_top VALUE={z_mean}
#     SET_GCODE_VARIABLE MACRO=_CENTERING_VARS VARIABLE=center_x VALUE={x_mean}
#     SET_GCODE_VARIABLE MACRO=_CENTERING_VARS VARIABLE=center_y VALUE={y_mean}
    
#     SAVE_VARIABLE VARIABLE=t0_z_ref VALUE={z_mean}
#     SAVE_VARIABLE VARIABLE=t0_center_x VALUE={x_mean}
#     SAVE_VARIABLE VARIABLE=t0_center_y VALUE={y_mean}

#     G1 Z25 F1500
#     G1 X{x_mean} Y{y_mean} F{TRAVEL_SPEED}

#     RESPOND MSG="--- CALIBRATION RESULTS ---"
#     RESPOND MSG="X Mean: {x_mean|round(4)} [Min: {x_mids|min|round(4)}, Max: {x_mids|max|round(4)}]"
#     RESPOND MSG="Y Mean: {y_mean|round(4)} [Min: {y_mids|min|round(4)}, Max: {y_mids|max|round(4)}]"
#     RESPOND MSG="Z Mean: {z_mean|round(4)} [Min: {z_results|min|round(4)}, Max: {z_results|max|round(4)}]"

# #####################################################################
# # Homing & Safety Macros
# #####################################################################

# [homing_override]
# axes: xyz
# set_position_z: 0
# gcode:
#     G91
#     G1 Z10 F2200
#     G90
#     # Lower current for safer sensorless homing
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.8
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.8
#     G28 X
#     G1 X10 F3000
#     M400
#     G28 Y
#     G4 P2000 # Pause for drivers to clear stall flag
#     G28 Z
#     # Restore print current
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.1
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.1
#     SAFE_SEEK_PROBE

# [gcode_macro SAFE_SEEK_PROBE]
# gcode:
#     G90
#     G1 Z15 F1200
#     G1 X-28.5 Y300 F12000
#     M400
#     QUERY_PROBE
#     _DO_SAFE_PROBE

# [gcode_macro _DO_SAFE_PROBE]
# gcode:
#     {% if printer.probe.last_query %}
#         { action_raise_error("PROBE ERROR: Sensor triggered! Check nozzle/probe clearance.") }
#     {% else %}
#         G1 Z9.5 F1200
#         PROBE SPEED=2 SAMPLES=1
#         G1 Z15 F1200
#     {% endif %}